//Brukte en egen scss-fil for å definere variabler som blir brukt

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$darkblue: #2A324B;
$lightblue: #58699D;
$grey: #E1E5EE;
$white: #FFFFFF;
$font: 'Montserrat', sans-serif;

$mobileScreen: 375px;
$screenSmall: 768px;
$screenMedium: 992px;