@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

//Ferdig satt fargekoder//
$darkblue: #2A324B;
$lightblue: #58699D;
$grey: #E1E5EE;
$white: #FFFFFF;
$font: 'Montserrat', sans-serif;

//ferdig satt skjermstørelse//
$mobileScreen: 375px;
$screenSmall: 768px;
$screenMedium: 992px;
