@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --darkblue: #2A324B;
    --lightblue: #58699D;
    --grey: #E1E5EE;
    --white: #FFFFFF;
    --font: "Montserrat", sans-serif;
    
}

body {
    background-color: var(--grey);
    font-family: var(--font);
    font-size: 20px;
    display: flex;
    justify-content: center;
    height: 100dvh;
    align-items: center;
    margin:0;
    

    
}

main {
    background-color: var(--white);
    min-height: 350px;
    font-size: 1rem; 
    text-align: left;
}

article {
    padding: 5rem;
}

ul {
    
}