@import '_variables.scss';

body {
    background-color: $grey;
    font-family: $font;
    display: flex;
    justify-content: center;
    height: 100dvh;
    align-items: center;
    margin:0;

    #cardbox {
        width: 100%;
        max-width: 1200px;
   

        main {
            background-color: $white;
            max-height: 350px;
            
            article {
                padding: 5rem;
                
                h1 {
                    font-size: 2rem;
                    color: $darkblue;
                }

                p {
                    max-width: 60rem;
                }

                a {
                    color: $lightblue;

                    &:visited {
                        color: rgb(45, 19, 86);
                    }
                }   
            }
        }
    }
}

/* Gjør at nav ikk skal legge seg rart når skjermen blir mindre */
@media only screen and (max-width: 1245px) {
    body {
        padding: 1rem;
    }
    main {
        min-height: 400px;
    }
}

/* Gjør at man skal kunne scrolle når skjermen blir smalere */
@media only screen and (max-height: 450px) {
    body {
        height: auto;
        padding: 1rem;
    }
}
