@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import '_variables.scss';

#menu {
    /* {Gjør at alle listeelementene ligger ved siden av hverandre istedenfor under hverandre og er sentrert */
    display: flex;
    list-style: none;
    align-items: center;
    // justify-content: space-between;
    /* } */
    padding: 0;
    margin: 0;
    /* Gjør slik at det som står i vav ikke lgger seg under hverandre */
    flex-wrap: wrap;

    gap: 17px; //!!

    .menubutton {
        display: inline-block;
        text-decoration: none;
        color: $white;
        margin: 0;
        font-weight: 700;
        background-color: $darkblue;
        padding: 1.5rem 4.25rem;
        cursor: pointer;
        transition: background-color 0.2s ease; 
    
        &.active {
            background-color: $white;
            color: $darkblue;
        }
    }
}






