@import '_variables.scss';

//meny//
.menu {
    /* {Gjør at alle listeelementene ligger ved siden av hverandre istedenfor under hverandre og er sentrert */
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* } */
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    /* Gjør slik at det som står i nav legger seg under hverandre når skjermen blir mindre*/
    flex-wrap: wrap;
    
    .menubutton {
        display: inline-block;
        background-color: $darkblue;
        color: $white;
        font-weight: 800;
        padding: 1.5rem 4.25rem;
        cursor: pointer;
        transition: background-color 0.5s ease;
        text-decoration: none;
        margin: 0;
        

        // når knappen er aktiv//
        &.active {
            background-color: $white;
            color: $darkblue;
        }
    }
}
    
/* Gjør at nav ikk skal legge seg rart når skjermen blir mindre */
@media only screen and (max-width: 1245px) {
    .menu {
        justify-content: flex-start;
    } 
}