@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import '_variables.scss';

#menu {
    /* {Gjør at alle listeelementene ligger ved siden av hverandre istedenfor under hverandre og er sentrert */
    display: flex;
    // justify-content: space-between;!!
    align-items: center;
    justify-content: space-between;
    /* } */
    margin: 0;
    padding: 0;
    /* Gjør slik at det som står i vav ikke lgger seg under hverandre */
    flex-wrap: wrap;
    font-family: $font; //!!
    gap: 17px; //!!
}

.menubutton {
    background-color: $darkblue;
    color: $white;
    font-size: 1rem;
    padding: 1.5rem 4.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;



        a{
            color: $white;
            font-weight: 700;
            transition: color .2s ease;
        }

        &.active {
            background-color: $white;
            
            a{
                color: $darkblue;}
        }
}


